*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainHeader{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0.2rem;
    background: #1b1b1b;
    width: 100%;
}

.mainHeader a{
    text-decoration: none;
    color: gray;
    padding: 0rem 0.18rem;
}

 a.active-links{
    font-weight: bold;
    color: red;
    text-decoration: underline
}


.flagCard{
    padding: 1rem 0.8rem;
    width: 30%;
    margin: 0.6rem;
    background: whitesmoke;
    border-radius: 0.2rem;
}

.display-filter-buttons-container button{
    outline: none;
    border: none;
    padding: 0.4rem 0.4rem;
    margin: 0.18rem;
    width: 6rem;
    cursor: pointer;
    color: gray;
}

.flags-head-h1 h3{
    text-align: start;
    padding: 0.6rem;
}



.flagCard a{
    text-decoration: none;
    color: gray;
}

.flagCard img{
    width: 100%;
}



.flags-disply-list-container h1{
    text-align: center;
    text-transform: capitalize;
    padding: 0.6rem;
}

.flags-List{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.flags-details-wrapper-container{
    padding: 1rem 2rem;
    height: 100vh;
    width: 100%;
    background: whitesmoke;
}

.flags-details-link a{
    text-decoration: none;
    color: gray;
}


.flags-details-card img{
    margin-top: 0.8rem;
    width: 90%;
}

.flags-details-info button{
    outline: none;
    border: none;
    margin: 0.8rem 0rem;
    padding: 0.6rem;
    background: orange;
    color: black;
    text-transform: capitalize;
    cursor: pointer;
}


.home-wrapper-container{
    height: 100vh;
    width: 100%;
    padding: 0.8rem;
}

.home-wrapper-container h4{
    text-align: center;
    padding: 2rem 0rem;
    text-decoration: underline;
    }


    .home-wrapper-container p{
        word-spacing: 0.4rem;
        padding-bottom: 3rem;
    }

    .hero-wrapper-container{
        height: 30vh;
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 0rem;
    }

    .inner-hero-container{
        margin: 0 auto;
        height: 100%;
        width: 45%;
        border-radius: 0.6rem;
        padding: 0.4rem 0.5rem;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(136, 131, 131) ;
        background: whitesmoke;
        margin-top: 1rem;
    }

    .footer{
        background: #292929;
        padding: 5rem 0rem;
        color: gray;
        text-align: center;
    }



